@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");

// Global Variables //

$mainColor: #517ef5;
$headerTextColor: #0c1938;
$descTextColor: #9398a4;
$starsColor: #fbbc05;
$textColor: #515660;
$footerTextColor: #ffffff;

// Global ITEMS //

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1185px;
  margin: 0 auto;
  padding: 15px;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-size: 16px;
  font-family: "Inter", "san serif";
  color: black;
}
.button-center {
  background-color: $headerTextColor;
  padding: 15px 30px;
  color: #ffffff;
  border-radius: 5px;
  font-weight: 600;
  display: flex;
  margin: 0 auto;
  cursor: pointer;
}
.button-center:hover {
  opacity: 0.8;
}
.arrow-more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 156px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.arrow-more:hover {
  background-color: $mainColor;
  transition: 0.3s ease;
}
.arrow-more:hover .arrow-img {
  color: #fff;
}

// .main {
//   overflow-x: hidden;
// }

// HEADER SECTION //

header {
  // position: fixed;
  // top: 0;
  // right: 0;
  // left: 0;
  // z-index: 99;
  padding: 10px;
  background-color: $mainColor;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header-logo {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
  }
  .header-search {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff;
    padding: 8px 25px;
    border-radius: 22px;
    input {
      background: none;
      outline: none;
      border: none;
      color: #fff;
    }
    ::placeholder {
      color: #fff;
    }
    .finder-icon {
      margin-right: 15px;
    }
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 42px;
    list-style: none;
    .menu-item {
      position: relative;
    }
    .menu-link {
      color: #ffffff;
      text-decoration: none;
    }
    .menu-link::before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      height: 3px;
      background-color: #fff;
      border-radius: 4px;
      width: 0;
      transition: 0.5s ease;
    }
    .menu-link:hover::before {
      width: 100%;
    }
  }
  .button {
    background-color: $headerTextColor;
    padding: 15px 30px;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
  }
  .button:hover {
    opacity: 0.8;
  }
}

// HOME SECTION //

.home-section {
  padding-top: 72px;
  padding-bottom: 100px;
  background-color: $mainColor;
  .home-header {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    .home-title,
    .home-desc {
      color: #fff;
    }
    .home-title {
      font-size: 64px;
      font-weight: 700;
      margin-bottom: 18px;
      line-height: 74px;
    }
    .home-desc {
      font-weight: 400;
      line-height: 26px;
      color: #d8e2fa;
    }
  }
  .home-img {
    margin-top: 70px;
    margin-bottom: 100px;
    .home-img-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 15px;
      margin-bottom: 100px;
      .home-images:nth-child(even) {
        transform: translateY(50px);
      }
    }
    .home-img-container .home-images {
      width: 100%;
    }
  }
}

// FEATURE PRODUCT SECTION//

.feature-container {
  transform: translateY(-130px);
  background-color: #fff;
  padding: 55px 48px;
  border: 1px solid #dde1ea;
  border-radius: 12px;
  box-shadow: 2px 2px 3px 5px rgba(0, 0, 0, 0.05);
  .feature-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 55px;
    .feature-title {
      color: $headerTextColor;
      font-size: 36px;
      font-weight: 700;
    }
    .line-seperate {
      height: 1px;
      width: 350px;
      background-color: #ccc;
    }
    .view-all-button {
      font-size: 18px;
      font-weight: 400;
      color: $headerTextColor;
      border: 1px solid #ccc;
      padding: 19px 24px;
      border-radius: 5px;
      cursor: pointer;
    }
    .view-all-button:hover {
      background-color: $mainColor;
      color: #fff;
    }
  }
  .feature-content {
    border-bottom: 2px solid #ccc;
    padding-bottom: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 38px;
    margin-bottom: 40px;
    .feature-product-title {
      font-size: 24px;
      font-weight: 600;
      color: $headerTextColor;
    }
    .feature-product-place {
      font-size: 14px;
      font-weight: 400;
      color: $descTextColor;
      margin-bottom: 18px;
    }
    .feature-price-rating {
      display: flex;
      align-items: center;
      gap: 70px;
      margin-bottom: 21px;
      .feature-price {
        font-size: 18px;
        font-weight: 600;
        color: $headerTextColor;
      }
    }
    .feature-desc {
      font-weight: 400;
      color: $textColor;
      max-width: 616px;
    }
    .arrow-more {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 156px;
      border: 1px solid #ccc;
      padding: 20px;
      border-radius: 10px;
      cursor: pointer;
    }
    .arrow-more:hover {
      background-color: $mainColor;
      transition: 0.3s ease;
    }
    .arrow-more:hover .arrow-img {
      color: #fff;
    }
  }
}

// EXPLORE PRODUCT SECTION //

.explore-section {
  margin-bottom: 130px;
  .explore-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 55px;
    .explore-title {
      font-weight: 700;
      font-size: 36px;
      margin-bottom: 18px;
      color: $headerTextColor;
    }
    .explore-desc {
      font-weight: 400;
      color: $textColor;
      max-width: 444px;
      text-align: center;
    }
  }
  .explore-product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    .product-desc {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 27px 18px;
      background-color: #fff;
      .product-title {
        font-size: 18px;
        font-weight: 600;
        color: $headerTextColor;
        margin-bottom: 5px;
      }
      .product-property {
        font-size: 14px;
        font-weight: 400;
        color: $textColor;
      }
    }
    .explore-product-btn {
      outline: none;
      background-color: $headerTextColor;
      border: none;
      padding: 39px 20px;
      color: #fff;
      width: 100%;
      border-radius: 10px;
      font-size: 20px;
      font-weight: 700;
    }
  }
}

.house-img {
  max-width: 100%;
}

// FEEDBACK PRODUCT SECTION //

.feedback-section {
  margin-bottom: 130px;
  .feedback-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 55px;
    .feedback-title {
      font-weight: 700;
      font-size: 36px;
      margin-bottom: 18px;
      color: $headerTextColor;
    }
    .feedback-desc {
      font-weight: 400;
      color: $textColor;
      max-width: 444px;
      text-align: center;
    }
  }
  .feedback-block {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .feedback-card {
      padding: 10px;
      border-radius: 4px;
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      gap: 20px;
      box-shadow: 5px 7px 12px 5px rgba(0, 0, 0, 0.3);
      .reply {
        padding-top: 40px;
        font-weight: 400;
        color: $textColor;
        max-width: 392px;
        margin-bottom: 23px;
      }
      .name {
        font-size: 20px;
        font-weight: 600;
        color: $headerTextColor;
      }
      .job {
        font-size: 14px;
        font-weight: 400;
        color: $textColor;
      }
    }
  }
}

// SLICK SLIDER //

.slick-arrow {
  border: none;
  background: none;
  outline: none;
}
.arrow-left,
.arrow-right {
  font-size: 40px;
  color: $mainColor;
  cursor: pointer;
}
.slick-dots {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -50px;
  left: 43%;
  list-style: none;
  gap: 0 15px;
  margin-top: 60px;
  transform: translateY(50%);
}
.slick-dots button {
  font-size: 0;
  background: #dde0e4;
  width: 15px;
  height: 15px;
  border-radius: 100rem;
  cursor: pointer;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}
.slick-active button {
  background: $mainColor;
  width: 30px;
  height: 15px;
}

// BLOG-SECTION //

.blog-section {
  margin-bottom: 130px;
  .blog-section-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    .blog-box {
      background-color: #fff;
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
      .blog-info {
        padding: 20px;
        .blog-group {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 18px;
          .blog-author,
          .blog-date {
            display: flex;
            align-items: center;
            gap: 10px;
            .date,
            .fa-clock,
            .name,
            .fa-user {
              font-size: 14px;
              font-weight: 400;
              color: $descTextColor;
            }
          }
        }
        .blog-title {
          font-size: 20px;
          font-weight: 600;
          color: $headerTextColor;
          margin-bottom: 14px;
        }
        .blog-desc {
          font-size: 14px;
          font-weight: 400;
          color: $descTextColor;
        }
      }
    }
  }
}

// GetInTouch-SECTION //

.getInTouch-section {
  margin-bottom: 130px;
  .getInTouch-section-container {
    background: linear-gradient(92.38deg, #517ef5 32.01%, #8aaaff 77.72%);
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .getInTouch-info {
      max-width: 369px;
      .getInTouch-title {
        font-size: 36px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 18px;
      }
      .getInTouch-desc {
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        margin-bottom: 50px;
      }
      .getInTouch-btn {
        border: none;
        background-color: #fff;
        padding: 15px 35px;
        outline: none;
        font-weight: 700;
        color: $headerTextColor;
        border-radius: 5px;
        transition: 0.3s ease-out;
        cursor: pointer;
      }
      .getInTouch-btn:hover {
        transform: scale(0.9);
      }
    }
    .banner-img > img {
      width: 100%;
      object-fit: cover;
      margin-top: 40px;
    }
  }
}

// FOOTER-SECTION //

.footer {
  background-color: $headerTextColor;
  .footer-company {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding-top: 76px;
    padding-bottom: 88px;
    .tele-phone,
    .address {
      font-size: 16px;
      font-weight: 600;
      opacity: 0.7;
    }
    .brand {
      font-size: 24px;
      font-weight: 600;
    }
  }
  .footer-menu {
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-bottom: 53px;
    a {
      color: #fff;
      text-decoration: none;
      font-size: 16px;
      font-weight: 500;
    }
  }
  .footer-media {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    p {
      color: #fff;
      font-size: 12px;
      font-weight: 400;
      opacity: 0.7;
    }
  }
  .footer-copyright {
    display:flex;
    justify-content: space-between;
    align-items: center;
    p {
      color: #fff;
      font-size: 12px;
      font-weight: 400;
      opacity: 0.7;
    }
  }
}
